.flex-row-relative {
    display: flex;
    flex-direction: row;
    position: relative;
}

.flex-column-relative {
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex-row-absolute {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.flex-column-absolute {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.flex-column-fixed {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.flex-row-fixed {
    display: flex;
    flex-direction: row;
    position: fixed;
}

.center {
    align-items: center;
    justify-content: center;
}
.start {
    align-items: flex-start;
    justify-content: flex-start;
}
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-thin {
    border: 1px solid;
}

.hover-underline:hover {
    text-decoration: underline;
}

.no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

.no-click {
    pointer-events: none;
}
